table {
    border: 2px solid #000000;
}

.content_list{
    list-style: none;
    margin: 2;
    padding: 0;
}

.horizontal{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border: 0;
    float: left;
}

.sub_title{
    margin: 0 0 0 0;
    font-size: 3px;
}

.content_holder{
    margin: 2 2 2 2;
}

.disc{
    float: left;
    font-weight: bold;
    background-color: #DDDDDD;
    text-align: center;
    width: 150px;
}

.square{
    float: left;
    background-color: #EAEAEA;
    text-align: center;
    width: 150px;
}

._disc{
    font-weight: bold;
    background-color: #DDDDDD;
    text-align: center;
    width: 150px;
}

.__disc{
    font-weight: bold;
    background-color: #DDDDDD;
    text-align: center;
}
.__square{
    background-color: #EAEAEA;
    text-align: center;
}

._square{
    background-color: #EAEAEA;
    text-align: center;
    width: 300px;
}

.content{
   width: 465px;
}

.content_disc{
    font-weight: bold;
    background-color: #DDDDDD;
    text-align: center;
    width: 450px;
}

.content_square{
    font-weight: normal;
    background-color: #EAEAEA;
    text-align: left;
    width: 450px;
}

.bg_ea{
	background-color: #EAEAEA;
}
