<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
  <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>

  <title>Project Repository: LookUp</title>
</head>
<body>
  <div th:replace="layout/header::header"></div>

  <div class="project">
    <h3>프로젝트 조회</h3>
    <table class="overview">
      <tr>
        <th class="__disc"> 제목 </th>
        <td class="__square" id="main_title"></td>
      </tr>
      <tr>
        <th class="__disc">주제</th>
        <td class="__square" id="subject"></td>
      </tr>
      <tr>
        <th class="__disc">기술스택</th>
        <td class="__square" id="techstack"></td>
      </tr>
      <tr>
        <th class="__disc">규모</th>
        <td class="__square" id="scale"></td>
      </tr>
      <tr>
        <th class="__disc">프로젝트 시작 날짜</th>
        <td class="__square" id="project_start_date"></td>
      </tr>
      <tr>
        <th class="__disc">프로젝트 종료 날짜</th>
        <td class="__square" id="project_end_date"></td>
      </tr>
    </table>

    <ul class="content_list">
    </ul>
    </br>

    <div class="content_holder">
    </div>

  </div>

  <script type="text/javascript" src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script th:src="@{/js/util/csrf.js}"></script>
  <script th:src="@{/js/util/global.js}"></script>
  <script th:src="@{/js/project/project_lookup.js}"></script>
</body>
</html>
