<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Project Repository: Upload</title>
</head>
<body>
  <div th:replace="layout/header::header"></div>

  <div class="project">
    <h3>프로젝트 업로드</h3>
    <form enctype="multipart/form-data" id="file_form">
      <table>
        <tr>
          <th class="disc">프로젝트 제목</th>
          <td>
            <input type="text" name="title">
          </td>
        </tr>
        <tr>
          <th class="disc">주제</th>
          <td>
            <input type="text" name="subject">
          </td>
        </tr>
        <tr>
          <th class="disc">기술스택</th>
          <td>
            <input type="text" name="techstack">
          </td>
        </tr>
        <tr>
          <th class="disc">규모</th>
          <td>
            <input type="text" name="scale">
          </td>
        </tr>
        <tr>
          <th class="disc">프로젝트 시작날짜</th>
          <td>
            <input type="date" name="start_date">
          </td>
        </tr>
        <tr>
          <th class="disc">프로젝트 종료날짜</th>
          <td>
            <input type="date" name="end_date">
          </td>
        </tr>
      </table>

      <ul class="content_list">
        <li class="last_content horizontal" order="0">
          <button class="subtitle" type="button">새 항목</button>
        </li>
      </ul>
      <button class="add_content" type="button">+</button>
      </br>

      <div class="each_content">
        <table class="content">
          <tr>
            <th class="disc">항목 이름</th>
            <td class="subtitle_holder">
              <input type="text" name="contentTitle">
            </td>
          </tr>
          <tr>
            <th class="disc">첨부파일</th>
            <td class="file_holder">
              <input type="file" name="file">
            </td>
          </tr>
          <tr>
            <th colspan="2" class="content_disc">내용</th>
          </tr>
          <tr>
            <td colspan="2" style="text-align:center;" class="content_square content_holder">
              <textarea name="content" cols="50" rows="10"></textarea>
            </td>
          </tr>
        </table>

      </div>

    </form>

    <button class="upload">upload</button>
  </div>

  <script type="text/javascript" src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script th:src="@{/js/util/csrf.js}"></script>
  <script th:src="@{/js/project/project_upload.js}"></script>
</body>
</html>