<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="header">
        <div class="caution">
            <ul>
                <li>해당 사이트는 현재 개발 중에 있습니다.</li>
<!--                <li>Front-end 개발을 위한 반응형 웹, React 학습 중에 있으며, Spring Boot를 통해 구현되었습니다.</li>-->
<!--                <li>구현되지 않은 제약사항 및 오류핸들링이 존재합니다. 참고해주시기 바랍니다.</li>-->
            </ul>
        </div>

        <table>
            <tr>
                <th class="disc">
                    <a href="/"> Home </a>
                </th>
            </tr>
        </table>
        <link rel="stylesheet" href="/css/basic.css">
    </div>
</html>
